<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Dor Nisim\Downloads;C:\Users\Dor Nisim\Pictures"/>
    <add key="OutputDir" value="C:\Users\Dor Nisim\Desktop\Teaching\Advanced Programming 2\Dor\Images"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>